.banner_top_lg {
    display: flex;
    gap: 2rem;
    padding: 1rem 1.5rem 1.5rem 1.5rem;
    margin-bottom: 2rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.lg_destacados {
    padding: 1.5rem;
    display: flex;
    border-radius: 1.5rem;
    background-color: white;
    min-height: 16rem;
    flex-direction: column;
    --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    justify-content: space-between;
    width: 420px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.lg_destacados:hover {
    transform: translateY(-5px);
}