.home_section {
    margin: 1.5rem;
}

.banner_principal_home {
    padding: 3rem;
    padding-right: 0;
    border: 1px solid #e8eaf0;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    height: 320px;
}

.banner_right_h {
    position: absolute;
    bottom: -70px;
    right: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 0;
}

.pokemon-stack {
    display: flex;
    align-items: flex-end;
    position: relative;
}

.poke-card {
    position: relative;
    width: 150px;
    height: 230px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    flex-shrink: 0;
    margin-left: -20px;    }

.poke-card-img {
    position: absolute;
    width: 130px;
    height: 130px;
    object-fit: contain;
    top: 10px;
    right: -5px;
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.3));
}

.card-0 { transform: rotate(-6deg); z-index: 1; }
.card-1 { transform: rotate(-8deg); z-index: 2; }
.card-2 { transform: rotate(0deg);  z-index: 3; }
.card-3 { transform: rotate(3deg);  z-index: 4; }
.card-4 { transform: rotate(8deg);  z-index: 5; }
.sasw {
    background-color: #f3e8ff;
    color: #9810FA;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 1.5rem;
    display: flex;
    margin-bottom: 1rem;
    width: 250px;
}

.banner_left_h h1 {
    font-size: 42px;
    font-weight: 800;
    line-height: 1.1;
    color: #0f1117;
    letter-spacing: -1.8px;
}

.banner_left_h .text_banner-home {
    color: #9810FA;
}

.banner_left_h p {
    max-width: 600px;
    margin-top: 1rem;
}

.poke-card-img {
    position: absolute;
    width: 140px;
    height: 140px;
    object-fit: contain;
    top: 10px;
    right: -5px;
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.3));
}

.poke-card-name {
    font-size: 15px;
    font-weight: 700;
    color: white;
    display: block;
}

.poke-card-tipo {
    font-size: 11px;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(255, 255, 255, 0.2);
    padding: 3px 8px;
    border-radius: 99px;
    display: inline-block;
    margin-top: 4px;
}


.banner_grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1.5rem;
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.card_grid {
    border: 1px solid #e8eaf0;
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    width: 450px;
}

.card_grid h2 {
    color: #9810FA;
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: -.5px;
    line-height: 1;
}

.left_card {
    justify-content: center;
    align-items: center;
    margin-top: 0.8rem;
}

.img_card {
    width: 3rem;
    height: 3rem;
}

.right_card {
    padding-left: 0.8rem;
    padding-right: 1rem;
}