@media (max-width: 768px) {
    .card_pokemons {
        background-image: linear-gradient(145deg, rgb(44, 42, 42) 0%, rgb(37, 35, 35) 100%);
        background-position-x: initial;
        background-position-y: initial;
        background-size: initial;
        background-repeat: initial;
        background-attachment: initial;
        background-origin: initial;
        background-clip: initial;
        background-color: initial;
        padding: 1rem;
        border-color: #ffffff0d;
        border-radius: 1rem;
    }
}